@import url(style.css);
  
  body {
    background: url(../assets/bg_sign.jpg) no-repeat center center fixed;
    background-size: cover;
  }

  .main_div {
    width: 100%;
    height: 80vh;
    position: relative;
  }
  
  .box2 {
    width: 400px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    background: rgba(111, 8, 148, 0.57);
    border-radius: 10px;
  }
  
  .box2 h1 {
    margin-bottom: 25px;
    color: #fff;
    text-align: center;
  }
  
  .box2 .input-box {
    position: relative;
  }
  
  .box2 .input-box input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
  }
  
  .box2 .input-box label {
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 1px;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    transition: 0.5s;
  }
  
  .final {
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: #41b1e5cd;
    padding: 9px 18px;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    width:30%;
    cursor: pointer;
  }
  
  .box2 .input-box input:focus~label, .box .input-box input:valid~label {
    top: -20px;
    left: 0;
    font-size: 15px;
    color: #e386f1;
  }

  a:hover{
    background-color: #41b1e5cd;
    color: #fff;
  }


  /* deadline */

  #register {
    padding: 6vw 8vw;
    background-image: linear-gradient(rgba(222, 170, 255, 0.23),rgba(174, 110, 197, 0.426),rgba(186, 119, 220, 0.504));
    width: 100%;
    height:100%;
    display: flex;
    justify-content:center;
    align-items:center;
  } 

  #register .remind{
    color:white;
  }
  #register h3{
    font-size:1.7em;
  }

  #register .remind .time{
    display:flex;
    margin-top:2em;
  }
  
  #register .remind .time .date{
    text-align: center;
    padding: 1em 2em;
    background: rgba(255, 255, 255, 0.306);
    backdrop-filter: blur(4px);
    box-shadow: 0 8px 32px 0 rgba(31,38,135,0.37);
    border-radius: 10px;
    margin-inline:5px;
    margin-block-end:10px;
    border: 1px solid rgba(255, 255, 255, 0.528);
    font-weight:500;
  }
  
  @media (max-width:900px){
    .container{
      margin-block:7em;
      max-width:60%;
    }
    .container h1{
      font-size:1.7em;
    }
    .btn-page{
      margin-inline-start:10em;
    }
  }

  @media (max-width:550px){
    .container{
      margin-block:5em;
      max-width:60%;
    }
    .container h1{
      font-size:1.4em;
    }

    .main_div{
      margin-block:3rem;
    }

    .box2{
      width:90%;
    }

    .btn-page {
      width: 50%;
    }

    #register h3{
      font-size:1em;
    }

    #register .remind .time{
      display:flex;
      font-size:0.5em;
    }
    
    #register .remind .time .date{
      padding: 0.5em 1em;
      font-size:1.5em;
      display:block;
      margin:auto;
    }
  }